// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'variables';
@import '~bootstrap/scss/bootstrap';

// breaking point
@media (min-width: 992px)
{
	.w-md-75 {
		width : 75% !important;
	}

	.w-md-50 {
		width : 50% !important;
	}
}


// navbar item
.active-nav-custom, .active-nav-custom:hover {
  border-bottom: 2px solid #FDCB2C;
  color:  #FDCB2C;
}

.nav-tabs.nav-link.active  {
  background-color: #FDCB2C;
}

// required asterisk red mark
.required-field label:after {
    content: "*";
    color: red;
    padding-left: 5px;
  }

// input append button
.btn-input-append, .btn-input-append:hover, .btn-input-append:focus {
    border-radius: 0px 5px 5px 0px;
}

.btn-search-append, .btn-search-append:hover, .btn-search-append:focus {
    border-radius: 0px 0px;
    background-color: #F8FAFC;
    border-color: #CED4DA !important;
    border-left: none;
    border-right: none;
}